body {
  font-family: "Barlow", sans-serif;
  background-color: #f0dfcd;
  margin: 0;
}


.navbar {
    background-color: #e26887;
    font-weight: bolder;
}

.navbar .navbar-brand, 
.navbar .nav-link{
    color: #f0dfcd;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link.active{
    color: #4b3005;
}